body{

}
.todoApp{
	position: relative;
	background-color: #cac7c0;
	font-family: 'Montserrat', sans-serif;
}
.todoApp header{
	/* height: 15em; */
	background-color: #666;
	padding-bottom: 3em;
	margin-bottom: 3em;
}
.todoApp footer{
	position: fixed;
	left: 0; right: 0; bottom: 0;
	height: 10em;
	background-color: #333;
}
header h1{
	font-size: 4em;
	color: antiquewhite;
	text-align: center;
	padding: .6em;
}
header .addTodo{
	position: relative;
	width: 35em;
	margin: 0em auto;
	margin-top: 1em;
	border: 1px solid antiquewhite;
}
header .addTodo input{
	width: 100%;
	font-size: 2em;

}
.fa-plus, .fa-plus-circle{
	position: absolute;
	top: 50%; right: 0;
	transform: translate( 10%, -50%);
	font-size: 7em;
	color: antiquewhite;
	background-color: #666;
	border-radius: 100%;
	/* border: 5px solid antiquewhite; */
	cursor: pointer;

}
.todoItems{
	width: 40em;
	min-height: 70vh;
	margin: 0 auto;
}
.todoItems li{
	position: relative;
	font-size: 2em;
	padding-bottom: .3em;
	margin: .7em 0;
	border-bottom: 1px solid #999;
	/* font-family: 'Montserrat', sans-serif; */
}

.todoControls{
	position: absolute;
	top: 50%; right: 0;
	transform: translate(0, -50%);

}
.todoControls i{
	margin-right: .5em;
	color: antiquewhite;
}