@import "global_variables";

// SIMPLE MIXIN:
@mixin centered_box() {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}
@mixin child_box() {
	width: 50%;
	height: 50%;
	background: red;
}

.parent{
	width: $box_width;
	height: $box_height;
	background-color: red;

	div{
		width: $box_width/2;
		height: $box_height/2;
		background-color: blue;
	}
}